<lib name='jquery'/>
<lib name='syntaxhighlighter:php'/>
    
<div style='display:none' id='{=$sCallTraceId}'>
	
	{? $arrCallTrace=array_reverse($arrCallTrace); }
	{? $arrCallTrace=array_reverse($arrCallTrace,true); }
	<foreach for="$arrCallTrace" item='arrCall' key='callIdx'>
	<div style="margin-top:3px;margin-left:30px;">
	
		<div>
			#{=$callIdx} {=str_replace('\\','\\',@$arrCall['class'])}{=@$arrCall['type']}{=$arrCall['function']}
			(
				<foreach for="@$arrCall['args']" item='argv' idx='idx'>
				
				<if $idx>,</if>
				
				<if "is_object($argv)">
					<a>object</a>
				<else /> 
					<a>{= \org\jecat\framework\lang\Type::reflectType($argv)}</a>
				</if>
				</foreach>
			)
		</div>
		 
		<if "!empty($arrCall['file'])">
		<div style="color:#999999">
			{=@$arrCall['file']} (line {=@$arrCall['line']})
			[<a href="javascript:jquery('#source-{=$sCallTraceId}-{=$callIdx}').toggle()">source</a>]
			
			<div style="display:none;margin-left:30px;" id='source-{=$sCallTraceId}-{=$callIdx}'>
				<pre class="brush: php; first-line: {=$arrCall['segmentOffset']}; highlight: [{=$arrCall['line']}]">
// ... ...
<foreach for="\org\opencomb\friendlyerror\FriendlyError::readSourceSegment(@$arrCall['file'],@$arrCall['segmentOffset'],@$arrCall['segmentLength'])" item='sLine'>{=$sLine}</foreach>
// ... ...
				</pre>
			</div>
		</div>
		</if>			
	</div>
	</foreach>
</div>