<lib name="syntaxhighlighter" />

<h2>系统遇到无法处理的异常</h2>
	
<do "$aException=$aException->getPrevious()" idx='exceptionIdx'>
<div style="font-size:11px;margin-top:25px;margin-left:{=($exceptionIdx)*40}px">
	<h4>异常类：{=get_class($aException)}</h4>
	
	<div>
		<div>Code：{=$aException->getCode()}</div>
		<div>
			<if "$aException instanceof \org\jecat\framework\lang\Exception">
				<pre>{=$aException->message()}</pre>
			<else />
				<pre>{=$aException->getMessage()}</pre>
			</if>
		</div>
	</div>
	
	<div>
		[<a href="javascript:void(0)" onclick="jquery('#exception-position').toggle()">发生位置</a>]：
		{=$aException->getFile()} (Line:{=$aException->getLine()})
		
		<div id="exception-position" style="display:none">
			<pre class="brush: php; first-line: {=$aException->getLine()-30}; highlight: [{=$aException->getLine()}]">
// ... ...
<foreach for="\org\opencomb\friendlyerror\ErrorReporter::readSourceSegment($aException->getFile(),$aException->getLine()-30,41)" item='sLine'>{=$sLine}</foreach>
// ... ...
			</pre>
		</div>
	</div>
		
		
	[<a href="javascript:jquery('#exception-{=$exceptionIdx}-calltrace').toggle()">调用堆栈</a>]

	<div id='exception-{=$exceptionIdx}-calltrace'>
		<include file="friendlyerror:DisplayCalltrace.html" var.arrCallTrace="\org\opencomb\friendlyerror\ErrorReporter::tidyCalltrace($aException->getTrace())" var.sCallTraceId="'exception-'.$exceptionIdx.'-calltrace'"  />
	</div>

</div>
<hr />
</do>
