<lib name="syntaxhighlighter" />

<h2>系统遇到无法处理的异常</h2>
	
<do "$aException=$aException->getPrevious()" idx='exceptionIdx'>
<div style="font-size:11px">
	<h4>异常类：{=get_class($aException)}</h4>
	
	<div>
		Code：{=$aException->getCode()}
		消息：
		<if "$aException instanceof \org\jecat\framework\lang\Exception">
			{=$aException->message()}
		<else />
			{=$aException->getMessage()}
		</if>
	</div>
	
	<a href="javascript:jquery('#exception-{=$exceptionIdx}-calltrace-').toggle()">调用堆栈</a>
	<include file="friendlyerror:DisplayCalltrace.html" var.arrCallTrace="$aException->getTrace()" var.sCallTraceId="'exception-'.$exceptionIdx.'-calltrace-'"  />

	<hr />
</div>
</do>
